appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1610094662606/work
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bleach==3.3.0
certifi==2020.6.20
cffi==1.14.5
cycler==0.10.0
decorator @ file:///tmp/build/80754af9/decorator_1617624478095/work
defusedxml==0.7.1
entrypoints==0.3
imageio==2.9.0
ipykernel==5.5.3
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1616836936704/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1610146802570/work
Jinja2==2.11.3
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
MarkupSafe==1.1.1
matlablib==1.3
matplotlib==3.4.1
mglearn==0.1.9
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.3.0
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1616933195014/work
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.2.0
prometheus-client==0.10.0
prompt-toolkit==3.0.18
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pycparser==2.20
Pygments @ file:///tmp/build/80754af9/pygments_1615143339740/work
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
pyzmq==22.0.3
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1611079760584/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1609457861629/work
Send2Trash==1.5.0
six @ file:///home/linux1/recipes/ci/six_1610970791821/work
terminado==0.9.4
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tornado==6.1
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
